# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
secrets.env
venv/
env/
.env.docker

# scripts
push_to_webserver.sh

# Data and configurations 
config/
routes.json

# Logs
*.log

# Docker
.dockerignore
docker-compose.override.yml
